h5 {
  font-size: 18px;
  color: white;
}

.img-responsive {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-img {
  float: left;
  margin: 20px;

}

.row {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.image-icon {
  height: 75px;
  object-fit: contain;
  margin: 10px auto;
}

.skill-item {
  position: relative;
  min-width: 150px;
  max-width: 200px;
  flex-grow: 1;
  flex-basis: 0;
  margin: 10px;
  border-radius: 10px;
  /* background-color: rgba(230, 215, 200, 0.2); */
  padding: 30px 5px;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* .skill-item > hr{
  display: none;
} */

.skill-item:hover {
  background-color: rgba(130, 175, 250, 0.4);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.skill-item:hover>h5 {
  font-size: 20px;
  display: block;
}

.skill-item:hover>hr {
  width: 150px;
  display: block;
}

.portfolio-item-text {
  width: 60%;
}

.img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 25px;
}

.img-contain {
  width: 300px;
  height: 250px;
  object-fit: contain;
  border-radius: 25px;
}

.img-box {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
}

.img-wide {
  width: 300px;
  height: 125px;
  object-fit: cover;
  border-radius: 25px;
}

.img-mobile {
  width: 150px;
  height: 300px;
  object-fit: contain;
  border-radius: 25px;

}

.collapse {
  margin: auto;
}

.gen-contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-group-col {
  width: 45%;
}

.resume-btn {
  background-color: rgba(130, 175, 250, 1);
  width: max-content;
  height: max-content;
  margin: auto;
  box-sizing: border-box;
  /* align-self: center; */
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
}

.column-centered {
  align-items: center;
  justify-content: center;
}

.multi-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}